/*postcss-pxtransform rn eject enable*/

/** H5 reset start */
html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

img {
  border: 0 none;
  vertical-align: top;
}

i, em {
  font-style: normal;
}

ol, ul {
  list-style: none;
}

input, select, button, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #666;
}

body {
  margin: 0 auto;
  height: 100%;
  font-size: 14px;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.5;
  color: #232321;
  background-color: #f4f1f1;
  text-size-adjust: 100% !important;
  user-select: none;
}

input[type="text"], textarea {
  appearance: none;
}

.taro_page {
  height: 100%;
}

/** H5 reset end */
page {
  color: #232321;
  background-color: #f4f1f1;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  height: 100%;
}

img {
  display: inline-block;
  vertical-align: top;
}

button {
  margin-left: auto;
  margin-right: auto;
  &:after {
    border-radius: 0;
  }
}

@font-face {
  font-family: 'toplifeCustomEn';
  src: url('data:font/truetype;charset=utf-8;base64,AAEAAAAKAIAAAwAgT1MvMm255sMAAACsAAAAYGNtYXCUx47XAAABDAAAA2JnbHlm1pnlQwAABHAAAASAaGVhZAfKZygAAAjwAAAANmhoZWEFlQE0AAAJKAAAACRobXR4FO0BGQAACUwAAAAqbG9jYQXGBtwAAAl4AAAAGG1heHAADwA9AAAJkAAAACBuYW1lIH4QgwAACbAAAAM5cG9zdACAAIMAAAzsAAAAOAAEAhgBkAAFAAgAZABkAAABLQBkAGQAAANoAGQA+gAAAAIGAAQBAQEBAYAAACsQAAAAAAAAFgAAAABITllJAQAAAP5nA1L/agAAA2gBLQACAAEAAAAAAfACtgAAAAAAAAAAAAMAAAADAAAAHAABAAAAAAJcAAMAAQAAABwABAJAAAAAjACAAAYADAAAAB0AOQClAKYA6wD4APsBzwHRAdMB1QHXAdkB2wLIIBEgEiAXIBogGyAxIDQhBCGUIZUiECIbIhwiISIiIiQiYiJjJcwlzSYHJggmQS6CLoMuiS6KLqguqS60LrUwBDAfMCAwPzBAMJ8woDOfM6AzzzPQM9Mz1PoQ+hL6Ivol+ib+Mv5Y/mf/////AAAAAAAdADAApQCmAOsA+AD7Ac8B0QHTAdUB1wHZAdsCyCARIBIgFyAaIBsgMSA0IQQhlCGVIhAiGyIcIiEiIiIkImIiYyXMJc0mByYIJkEugi6DLokuii6oLqkutC61MAQwHzAgMD8wQDCfMKAznzOgM88z0DPTM9T6EPoS+iL6Jfom/jL+WP5n/////wAA/+P/0f9b/1r/Ff8I/wX+Mf4v/i3+K/4p/if+Jf043+/f7t/p3+bf5d/P38ze/N5s3mvd8N3l3eTd393e3dzdnt2d2jTaM9n52fjZv9F+0X3Rd9F20VjRV9FM0UvP/M/hz+DPwc/Az2HPYMxhzGDMMcwwzC3MLAXwBe4F3gXbBdoBzgGoAZkAAQABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAgMEBQYHCAkKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAbAAACDwLLABsAADcjNTM1IzUzAzMXFh8BMzcTMwMzFSMVMxUjFSPms7OznLReWggXIwQjelm3oLi4uFqwNksyAWjDFDdKSgEO/pgySzawAAAAAgAn//QCHwLeAA8AHwAAEjc2MzIXFhUUBwYjIicmNSQnJiMiBwYVFBcWMzI3NjUnSkt1eT43Qkt5aUNGAaovM14uJ0czN1pGKycB+HF1bVqUpHJ5Vl6glW15J0a0rG15UkqBAAEAHwAAAOoC2gATAAATMxEUFxYzFSM1Mjc2NRE0IyIHNaQIDAsnyycMEBgPGALa/WgnBwwICAgLLwIXLwsHAAABAAwAAAIPAtoAIAAAJSE1Njc2NzY1NCcmIyIHBgcnNjMyFxYVFAUHITI3NjczAfD+J24nYis+Mys6OzcyHBNdlV46O/76VgExJxAPHAcAFFknYkpuXV4vJycnMwiUOjtOlPZOBwgjAAEAI//0AfgC2gAtAAATNjMyFxYVFAcWFxYVFAcGIyInNRYzMjc2NTQnJiMiBzUyMzY3NjU0JyYjIgcjYlZdajMnlV4vJ05HYXVqdVZLMjcrM1obGwQEVStHIyQ6XlYIAqQ2LiQ2YkoQQjdCZkI/YhddLzZOSy43CBgXHDJSPycnhQAAAAIADAAAAg8C2gAaAB0AAAEVFBcWOwEVIzUzMjc2PQEhATMRMzI3NjczFScRAwGLBwwfDM8MIwgL/tABXyBVGAgEBAfT+gECuCcMDwgICA8nvAHY/k8EBA8+JwFU/qwAAAEAF//0AgAC4gAhAAATNjMyFxYVFAcGIyInNRcWMzI3NjU0JyYjIgcTITI3MwcheT9KbUdGRk9tbXYMdUthOy8rM1pOUi8BRCcICBj+rAHFG0JCamVLTloYCENDNktGLzorAWwTUgAAAgAn//QCHwLaABcAJwAAAQYHBgcVNjMyFxYVFAcGIyInJjU0NzY3ABcWMzI3NjU0JyYjIgcGFQHJlFJeCD+IWkI/RkNlbk5OXnHP/rw7QlY+JyQ3P1Y+KycCzyNWZpAEdUNCYmVKR1ZWhZx1iRv95VZVKyo7WlJaLys3AAEADP/4Ag8CzwAKAAATIQEjASEiBwYHJx8B8P6pNwE8/utSHxgLCALP/SkCmBMMHwQAAAADADP/9AITAtoAHQArADoAABInJjU0NzYzMhcWFRQHFhcWFRQHBiMiJyY1NDc2NzY1NCcmIyIHBhUUFxYXBwYVFBcWMzI3NjU0JyYnmBMnMzpmYTMvmFYjPkpGamFDQicrcbQrKz8yJy9KRic2kTM2TzovNzcnYgGyGy83PjM2Kig6bkozIz5KVjc3LzNSOy4zN15dPycnGxw2Oy8zEzdGZkY3OiMrQj82JDIAAgAn//QCHwLaABYAJgAANzY3NjcGIyInJjU0NzYzMhcWFRQHBgcAJyYjIgcGFRQXFjMyNzY1fZRSXgg+iVpCP0ZDZW5OTl5xzwFEOkNWPickNz9WPisnBCNWaY1xQkNhZkZGUlWFmXmIIAIfVlYrKzpaUlYrKzYAAQAAAAEAAGEinKpfDzz1AAED6AAAAADPzbcCAAAAANa9bGcADP/0Ah8C4gAAAAwAAQAAAAAAAAABAAADaP7TAAACRgAMABACHwABAAAAAAAAAAAAAAAAAAAACgIrABsCRgAnAQYAHwIfAAwCMwAjAh8ADAIzABcCRgAnAh8ADAJGADMAJwAAAAAAKgBcAHwAsADyASIBVgGUAa4CBAJAAAEAAAALADsAAwAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAUAPYAAQAAAAAAAAA8AAAAAQAAAAAAAQALADwAAQAAAAAAAgAFAEcAAQAAAAAAAwAYAEwAAQAAAAAABAALAGQAAQAAAAAABQArAG8AAQAAAAAABgALAJoAAQAAAAAABwASAKUAAQAAAAAAEAAHALcAAQAAAAAAEQADAL4AAwABBAkAAAB4AMEAAwABBAkAAQAWATkAAwABBAkAAgAKAU8AAwABBAkAAwAwAVkAAwABBAkABAAWAYkAAwABBAkABQBWAZ8AAwABBAkABgAWAfUAAwABBAkABwAkAgsAAwABBAkAEAAOAi8AAwABBAkAEQAGAj0oYykgQ29weXJpZ2h0IEJlaWppbmcgSEFOWUkgS0VZSU4gSW5mb3JtYXRpb24gVGVjaG5vbG9neSBDby5IWVFpSGVpLTQ1U0xpZ2h0SFlRaUhlaSA0NVM6VmVyc2lvbiAxLjAwSFlRaUhlaSA0NVNWZXJzaW9uIDEuMDAgSnVuZSAyMSwgMjAxNywgaW5pdGlhbCByZWxlYXNlSFlRaUhlaS00NVNUcmFkZW1hcmsgb2YgSEFOWUlIWVFpSGVpNDVTACgAYwApACAAQwBvAHAAeQByAGkAZwBoAHQAIABCAGUAaQBqAGkAbgBnACAASABBAE4AWQBJACAASwBFAFkASQBOACAASQBuAGYAbwByAG0AYQB0AGkAbwBuACAAVABlAGMAaABuAG8AbABvAGcAeQAgAEMAbwAuAEgAWQBRAGkASABlAGkALQA0ADUAUwBMAGkAZwBoAHQASABZAFEAaQBIAGUAaQAgADQANQBTADoAVgBlAHIAcwBpAG8AbgAgADEALgAwADAASABZAFEAaQBIAGUAaQAgADQANQBTAFYAZQByAHMAaQBvAG4AIAAxAC4AMAAwACAASgB1AG4AZQAgADIAMQAsACAAMgAwADEANwAsACAAaQBuAGkAdABpAGEAbAAgAHIAZQBsAGUAYQBzAGUASABZAFEAaQBIAGUAaQAtADQANQBTAFQAcgBhAGQAZQBtAGEAcgBrACAAbwBmACAASABBAE4AWQBJAEgAWQBRAGkASABlAGkANAA1AFMAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACwALAAAAEwAUABUAFgAXABgAGQAaABsAHA==') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fix_ipx {
  bottom: 68px !important;
}

.filter_ipx {
  padding-bottom: 68px !important;
}
