/*postcss-pxtransform rn eject enable*/
.del_popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.del_popup_content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 320px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #232321;
  text-align: center;
  border-radius: 30px;
}

.del_popup_title {
  margin-top: 40px;
  font-size: 32px;
}

.del_popup_text {
  margin-top: 40px;
  font-size: 24px;
}

.del_popup_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 88px;
  border-top: 2px solid #eee;
}

.del_popup_btn_cancel {
  color: #8c8c8c;
  border-right: 2px solid #eee;
}

.del_popup_btn_confirm {
  color: #666;
}

.del_popup_btn text {
  display: block;
  float: left;
  width: 50%;
  height: 88px;
  text-align: center;
  line-height: 88px;
  font-size: 32px;
  box-sizing: border-box;
}

/*postcss-pxtransform rn eject disable*/


.bottom_bar_wp {
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #232321;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  // margin-bottom: 100px;
}

.bottom_bar{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bottom_bar_select_wp{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom_bar_select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 100px;
}

.select_radio_img{
  width: 24px;
  height: 24px;
}

.select_radio_text {
  font-size: 24px;
  color: #fff;
}

.bottom_bar_select .select_radio_real {
  position: absolute;
  left: 58px;
  visibility: hidden;
}

.bottom_bar_total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  color: #fff;
}

.bottom_bar_total_text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white;
  font-size: 24px;
}

.bottom_bar_total_small {
  color: white;
  font-size: 16px;
}

.bottom_bar_total_big {
  color: white;
  font-size: 32px;
}

.bottom_bar_total_desc {
  color: white;
  font-size: 18px;
}

.bottom_bar_btn {
  position: absolute;
  display: flex;
  height: 100px;
  width: 228px;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  color: #232321;
  background-color: #bfa36c;
  font-size: 32px;
}

.bottom_bar_btn.del {
  background-color: #000000;
  color: #fff;
}

.bottom_bar_btn_none {
  background-color: #999999;
}

.bottom_bar_wp.hide {
  display: none;
}

