/*postcss-pxtransform rn eject enable*/

/*postcss-pxtransform rn eject disable*/
.goods {
  margin: 20px auto 0 auto;
  width: 710px;
  background-color: #fff;
}

.goods_wp {
  padding-bottom: 20px;
}

.goods_tab {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  //border-bottom: 2px solid #ddd;
}

.goods_tab_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 270px;
  font-size: 28px;
  color: #999;
}

.goods_tab_item .like {
  display: inline-block;
  background-image: url("//storage.jd.com/o2images/like_icon_off.png");
  background-size: 100% 100%;
  width: 37px;
  height: 32px;
}

//.goods_tab_item .history {
//  display: inline-block;
//  background-image: url("//storage.jd.com/o2images/history_icon_off.png");
//  background-size: 100% 100%;
//  width: 28px;
//  height: 32px;
//}

.goods_tab_item.on {
  color: #232321;
}

.goods_tab_item.on .like {
  background-image: url("//storage.jd.com/o2images/like_icon_on.png");
}

//.goods_tab_item.on .history {
//  background-image: url("//storage.jd.com/o2images/history_icon_on.png");
//}

.goods_tab_icon {
  width: 28px;
  height: 32px;
  margin-right: 10px;
}

.goods_content {
  display: flex;
  flex-wrap: wrap;
}

.goods_content_item {
  width: 50%;
  height: 700px;
  padding-top: 35px;
}

.goods_content_item_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 455px;
}

.goods_content_item_img image {
  width: 355px;
  height: 455px;
}

.goods_content_item_img .item_img_none {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.goods_content_item_img .item_img_none_text {
  display: block;
  width: 50%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.goods_content_item .gciw {
  padding: 0 40px;
  color: #232321;
  line-height: 1.5;
}

.goods_content_item .gciw_brand {
  display: block;
  margin-top: 20px;
  font-size: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.goods_content_item .gciw_name {
  display: block;
  font-size: 24px;
  height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.goods_content_item .gciw_none {
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 24px;
}

.goods_content_item .gciw_price {
  display: block;
  font-size: 32px;
}

.goods_content_item .gciw_overdue {
  display: block;
  font-size: 24px;
  color: #999;
  text-decoration: line-through;
}

.goods_content_item .gciw .small {
  font-size: 16px;
}

.goods_content_item .gciw .new_icon {
  margin-right: 10px;
  display: inline-block;
  background-image: url("//storage.jd.com/o2images/new_icon.png");
  background-size: 100% 100%;
  width: 60px;
  height: 26px;
}

.goods_none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  font-size: 24px;
  color: #999;
}

.goods .hide {
  display: none;
}
