/*postcss-pxtransform rn eject enable*/
.balance_good_items .info_support::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("https://static.360buyimg.com/tp-statics/2018-4-20/m/img/ic_7days@2x.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 2px;
  margin-right: 8px;
}

.balance_good_items .info_support.nosupport::before {
  background: url("https://static.360buyimg.com/tp-statics/2018-4-20/m/img/ic_no7days@2x.png") no-repeat;
  background-size: 100% 100%;
}

/*postcss-pxtransform rn eject disable*/

.balance_box {
  font-size: 24px;
  font-weight: 300;
  background-color: #fff;
  margin: 0 20px 20px;
  padding: 40px;
}

.balance_good_shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
}

.balance_good_shop_image {
  width: 180px;
  height: 60px;
}

.balance_slice {
  margin-top: 30px;
  height: 2px;
  background-color: #ddd;
  width: 100%;
}

.balance_good_items {
  overflow: hidden;
  margin-bottom: 40px;
}

.balance_good_item {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  overflow: hidden;
}

.balance_good_items_pic {
  width: 200px;
  margin-right: 40px;
  position: relative;
}

.balance_good_items_pic_image {
  width: 200px;
  height: 200px;
}

.balance_good_items .pic_count {
  width: 200px;
  height: 50px;
  background-color: rgba(35, 35, 33, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 50px;
  color: #fff;
}

.balance_good_items .item_count {
  line-height: 200px;
  color: #999;
}

.balance_good_items .item_count text {
  color: #232321;
  margin-right: 10px;
}

.balance_good_items .arrow {
  top: 75px;
}

.info_wrap {
  flex: 1;
}

.info {
  display: flex;
  flex-direction: column;
}

.info_name {
  color: #232321;
  margin-bottom: 30px;
}

.balance_good_items .price_val {
  font-weight: 400;
  font-family: "toplifeCustomEn";
}

.price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 40px;
}

.balance_good_items .price_val text {
  font-size: 32px;
}

.price_num {
  flex: 1;
  text-align: right;
}

.balance_grey {
  color: #999;
}

.balance_good_count {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.count_text, .count_total_text {
  color: #999;
}

.count_total_text{
  flex: 1;
  text-align: right;
}



