/*postcss-pxtransform rn eject enable*/

@mixin img-bg ($url, $width, $height) {
  display: inline-block;
  background-image: url($url);
  background-size: 100% 100%;
  width: ($width);
  height: ($height);
}

.address_edit {
  .hide {
    display: none!important;
  }
  .edit_wp {
    padding-left: 40px;
    background-color: #fff;
    border-top: 2px solid #ddd;
  }
  .edit_item {
    position: relative;
    border-top: 2px solid #ddd;
    &_wp {
      display: flex;
      align-items: center;
      height: 100px;
      font-size: 28px;
      color: #232321;
    }
    &_text {
      width: 116px;
      margin-right: 28px;
    }
    &_input {
      width: 500px;
    }
    &_radio {
      margin-right: 40px;
      visibility: hidden;
    }
    &.first {
      border-top: 0;
    }
    &.default {
      .edit_item_wp {
        justify-content: space-between;
      }
      .edit_item_text {
        width: 190px;
      }
    }
  }
  .edit_confirm {
    width: 670px;
    height: 114px;
    line-height: 114px;
    margin: 40px auto 0 auto;
    color: #fff;
    font-size: 32px;
    text-align: center;
    background-color: #232321;
  }

  .radio_icon {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -18px;
    @include img-bg('https://static.360buyimg.com/tp-statics/2018-4-26/m/img/ic_select_normal@2x.png', 36px, 36px);
  }
  .radio_icon.on {
    @include img-bg('https://static.360buyimg.com/tp-statics/2018-4-26/m/img/ic_select_hi@2x.png', 36px, 36px);
  }
  .arrow_icon {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -18px;
    @include img-bg('https://static.360buyimg.com/tp-statics/2018-4-26/m/img/ic_arrow_r@2x.png', 36px, 36px);
  }
  .clear_icon {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -18px;
    @include img-bg('https://static.360buyimg.com/tp-statics/2018-4-26/m/img/ic_x_grey@2x.png', 36px, 36px);
  }
}

.edit_select_shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 100;
}
