/*postcss-pxtransform rn eject enable*/
@keyframes showPanelMask {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showDetailWrapper {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hidePanelMask {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideDetailWrapper {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.detail_arrow {
  font-size: 32px;
  color: grey;
}

.detail_section_main_bd {
  //display: flex;
  //flex-direction: row;
  word-wrap: break-word;
  word-break: break-all;
}

.detail_goods_tit {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.detail_goods_price_txt {
  font-family: "toplifeCustomEn";
}

/*postcss-pxtransform rn eject disable*/

.order_detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.order_detail-scroll {
  display: flex;
  flex-grow: 1;
  -webkit-overflow-scrolling: touch;
}

.user_detail {
  padding: 0 20px;
  padding-bottom: 100px;
}

.detail_tip {
  width: 100%;
  padding-bottom: 100px;
}

.detail_tip_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 40px;
  background-color: rgba(33, 35, 35, 0.8);
  z-index: 99;
}

.detail_tip_txt {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.detail_tip_txt_tit {
  color: white;
  font-size: 24px;
  width: 130px;
}

.detail_tip_txt_cnt {
  flex: 1;
  font-size: 24px;
  color: white;
  width: 100%;
}

.detail_tip_close {
  position: relative;
  width: 46px;
  height: 46px;
  transform: rotate(-45deg);
  margin-left: 52px;
  top: 10px;
}

.detail_tip_close:before, .detail_tip_close:after {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
}

.detail_tip_close:before {
  width: 2px;
  height: 46px;
  top: 0;
  left: 50%;
  margin-left: -1px;
}

.detail_tip_close:after {
  width: 46px;
  height: 2px;
  left: 0;
  top: 50%;
  margin-top: -1px;
}

.detail_tit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 12px;
  font-size: 24px;
}

.detail_cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  background-color: #FFFFFF;
  height: 100px;
  margin-bottom: 20px;
  padding: 0 40px;
  line-height: 100px;
  font-size: 24px;
  //box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);
}

.detail_cancel_progress {
  display: flex;
  flex-direction: row;
}

.detail_section {
  background-color: #FFFFFF;
  //box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);
  padding: 0 40px;
  margin-bottom: 20px;
}

.detail_section_item {
  padding: 34px 0;
  border-width: 0 0 2px 0;
  border-bottom-color: #dddddd;
  border-style: solid;
  display: flex;
}

.detail_section_item:last-child {
  border-bottom: 0;
}

.detail_section_icon {
  width: 102px;
}

.detail_section_icon_img {
  width: 60px;
  height: 60px;
}

.detail_pay_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail_section_main {
  width: 100%;
  flex: 1;
}

.detail_section_main_hd {
  display: flex;
  justify-content: space-between;
}

.detail_section_main_hd_tit {
  font-size: 28px;
}

.detail_section_main_hd_txt {
  font-size: 24px;
}

.detail_section_main_bd {
  font-size: 24px;
  color: #999;
  line-height: 1.5;
  margin-top: 20px;
}

.detail_get {
  line-height: 1;
  flex-direction: row;
}

.detail_get_address {
  color: #999;
  font-size: 24px;
}

.detail_get_hd {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.detail_express {
  display: flex;
  flex-direction: row;
}

.detail_express_tit {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.detail_express_codtime, .detail_express_track_txt, .detail_express_track_time {
  font-size: 24px;
  color: #999;
}

.detail_express_track {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 17px 60px 30px 17px;
  background-color: #f8f8f8;
  margin-top: 16px;
}

.detail_express_track_left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detail_express_track_time {
  margin-top: 10px;
}

.user_detail_shop {
  padding: 25px 0;
  text-align: center;
  border-width: 0 0 2px 0;
  border-bottom-color: #dddddd;
  border-style: solid;
  line-height: 1;
}

.detail_shop_img {
  width: 190px;
  height: 80px;
  padding: 0;
  display: flex;
  margin: 0 auto;
}

.detail_goods {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.detail_goods_list {
  display: flex;
  border-width: 0 0 2px 0;
  border-bottom-color: #dddddd;
  border-style: solid;
  width: 100%;
  overflow: scroll;
}

.detail_goods_item {
  flex: 0 0 630px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.detail_goods_show {
  width: 200px;
  height: 200px;
  margin-right: 36px;
}

.detail_goods_img {
  width: 200px;
  height: 200px;
}

.detail_goods_info {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
}

.detail_goods_tit {
  font-size: 26px;
  //line-height: 38px;
  margin-bottom: 12px;
  overflow: hidden;
}

.detail_goods_attr {
  display: flex;
  flex-direction: row;
}

.detail_goods_attr_txt {
  font-size: 24px;
  color: #999999;
  margin-right: 22px;
}

.detail_goods_pc {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.detail_goods_price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex: 1;
  width: 100%;
}

.detail_goods_price_symbol {
  font-size: 16px;
}

.detail_goods_price_txt {
  font-size: 32px;
}

.detail_goods_count {
  font-size: 24px;
}

.detail_goods_total {
  display: flex;
  flex-direction: row;
  padding-top: 34px;
  overflow: hidden;
}

.detail_goods_total_count {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.detail_goods_total_count_txt {
  margin: 0 10px;
  color: #999999;
  font-size: 24px;
}

.detail_goods_total_account {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.fs-m {
  font-size: 24px;
}

.color-grey {
  color: #999999;
}

.detail_goods_total_item {
  display: flex;
  flex-direction: row;
}

.detail_goods_total_item_tit {
  width: 130px;
}

.detail_goods_total_item_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.detail_goods_total_item_stress {
  align-items: baseline;
  color: #222222;
}

.detail_goods_total_item.stress .detail_goods_total_item_info {
  font-size: 32px;
}

.detail_goods_total_item.stress .detail_goods_total_item_symbol {
  font-size: 16px;
}

.detail_pay {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 60px;
}

.detail_pay_hd {
  display: flex;
  flex-direction: row;
}

.detail_invoice {
  display: flex;
  flex-direction: row;
}

.detail_invoice_hd {
  display: flex;
  flex-direction: row;
}

.detail_invoice.noinvoice {
  line-height: 60px;
}

.detail_invoice_up, .detail_invoice_cnt {
  display: flex;
  flex-direction: row;
}

.detail_invoice_up, .detail_invoice_cnt {
  margin-bottom: 12px;
}

.detail_invoice_up_tit, .detail_invoice_up_txt {
  color: #999999;
  font-size: 24px;
  //word-wrap: break-word;
  //word-break: break-all;
}

.detail_invoice_cnt_tit, .detail_invoice_cnt_txt {
  color: #999999;
  font-size: 24px;
  //word-wrap: break-word;
  //word-break: break-all;
}

.detail_invoice_get {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.detail_invoice_get_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  border: 1px solid #232321;
  border-radius: 0;
  background-color: #FFFFFF;
  margin-right: 0;
}

.detail_invoice_get_btn_text {
  font-size: 24px;
  color: #999999;
}

.detail_ft {
  display: flex;
  flex-direction: row;
  padding: 10px 20px 30px 20px;
}

.detail_ft_text {
  font-size: 24px;
  color: #999999;
  line-height: 40px;
}

.detail_ops {
  width: 100%;
  height: 100px;
  background: #232321;
}

.detail_ops_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background: #232321;
  position: relative;
}

.detail_ops_btn {
  text-align: center;
  flex: 1;
  font-size: 28px;
  color: #FFFFFF;
  background: #232321;
  border: 0;
  border-radius: 0;
}

.detail_ops_split {
  width: 2px;
  height: 30px;
  background: grey;
}

.detail_ops_pay {
  height: 100px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #c0a369;
  color: #232321;
  font-size: 32px;
}
