/*postcss-pxtransform rn eject enable*/

.cart_commoditys .hide {
  display: none !important;
}

.ccie_form_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ccie_operation_add {
  display: inline-block;
  background-image: url("https://storage.jd.com/o2images/add_icon.png");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}

.ccie_operation_minus {
  display: inline-block;
  background-image: url("https://storage.jd.com/o2images/minus_icon.png");
  background-size: 100% 100%;
  width: 21px;
  height: 4px;
}

.ccie_form_icon {
  display: flex;
  width: 16px;
  height: 10px;
  background-image: url("//storage.jd.com/o2images/arrow_icon.png");
  background-size: 100% 100%;
}

.ccie_operation_num {
  font-family: "toplifeCustomEn";
}

.cciw_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cart_commodity .cart_radio {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("https://storage.jd.com/o2images/radio_icon_off.png");
  background-size: 100% 100%;
}

.cart_commodity .cart_radio.on {
  margin-left: -5px;
  width: 24px;
  height: 24px;
  background-image: url("https://storage.jd.com/o2images/radio_icon_on.png");
}

.cart_commodity .cart_radio.reduce {
  margin-left: -5px;
  width: 24px;
  height: 14px;
  background-image: url("https://storage.jd.com/o2images/offsale_icon.png");
}

.cart_commodity .cart_radio_real {
  position: absolute;
  visibility: hidden;
}

/*postcss-pxtransform rn eject disable*/

.gray {
  color: #999999;
}

.red {
  color: #e7393d;
}

.cart_commoditys {
  display: flex;
  flex-direction: column;
}

.cart_commodity {
  display: flex;
  flex-direction: column;
  padding: 0 40px 30px 40px;
  margin: 20px auto;
  background-color: #fff;
}

.cart_commodity_header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0 0 2px 0;
  border-bottom-color: #eee;
  border-style: solid;
}

.cart_commodity_header_image{
  width: 190px;
  height: 60px;
}

.cart_commodity_header .taro-img,
.cart_commodity_header image {
  height: 60px;
  max-width: 180px;
}

.cart_commodity_content {
  display: flex;
  flex-direction: column;
}

.cart_commodity_choose {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 42px;
  font-size: 24px;
  align-items: center;
  margin-top: 20px;
}

.cart_commodity_item {
  display: flex;
  flex-direction: row;
  min-height: 260px;
  align-items: center;
  justify-content: space-between;
}

.cart_commodity_item_choose {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 22px;
  min-height: 260px;
}

.cart_commodity_item_img {
  position: relative;
  margin: 12px;
  width: 200px;
  height: 200px;
}

.cart_commodity_item_img_image {
  width: 200px;
  height: 200px;
}

.cart_commodity_item_img .taro-img,
.cart_commodity_item_img image {
  width: 200px;
  height: 200px;
}

.cart_commodity_item_img .item_type.none {
  background-color: rgba(0, 0, 0, 0.25);
}

.cart_commodity_item_img .item_type.special {
  background-color: rgba(231, 57, 61, 0.7);
}

.cart_commodity_item_img .item_type.book {
  background-color: rgba(0, 0, 0, 0.5);
}

.cart_commodity_item .ccie {
  width: 370px;
  color: #232321;
  font-family: "-apple-system-font,Helvetica Neue,Helvetica,sans-serif";
}

.ccie_form {
  display: flex;
  width: 100%;
  min-height: 80px;
  padding: 10px 15px 10px 15px;
  border: 2px solid #ddd;
  justify-content: space-between;
  align-items: center;
}

.ccie_form_text {
  display: flex;
  height: 36px;
  line-height: 36px;
}

.ccie_form_left {
  width: 240px;
  font-size: 24px;
}

.ccie_form_right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.ccie_operation {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ccie_operation_num {
  text-align: center;
  font-size: 32px;
  z-index: 0;
}

.ccie_operation_wp {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
}

.ccie_operation_wp.right {
  justify-content: flex-end;
}

.cart_commodity_item .ccie_operation.off .add {
  display: inline-block;
  background-image: url("https://storage.jd.com/o2images/add_icon_off.png");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}

.cart_commodity_item .ccie_operation.off .minus {
  display: inline-block;
  background-image: url("https://storage.jd.com/o2images/minus_icon_off.png");
  background-size: 100% 100%;
  width: 20px;
  height: 4px;
}

.cart_commodity_item .ccie_operation.off .num {
  color: #ddd;
}

.cciw {
  width: 370px;
  color: #232321;
}

.cciw_title {
  display: flex;
  height: 68px;
  font-size: 24px;
}

.cart_commodity_item .cciw_info {
  display: flex;
  margin-top: 20px;
  font-size: 24px;
}

.cciw_price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 46px;
}

.cciw_price_small {
  font-size: 16px;
}

.flex1 {
  flex: 1;
}

.cciw_price_price {
  font-size: 32px;
}

.cciw_price_num {
  margin-top: 12px;
  font-size: 24px;
  text-align: center;
}

.cciw_space {
  display: flex;
  margin-top: 10px;
  height: 30px;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
}

.cciw_line {
  padding-top: 6px;
  color: #999;
  font-size: 24px;
  text-decoration: line-through;
}

.cciw_book {
  display: flex;
  width: 170px;
  height: 24px;
  line-height: 24px;
  background-color: #232321;
  font-size: 16px;
  text-align: center;
}

.cciw_book_yellow {
  margin-right: 6px;
  color: #bfa36b;
}

.cciw_btn {
  display: flex;
  margin-top: 14px;
  justify-content: space-between;
}

.cciw_btn_item {
  display: flex;
  margin: 0;
  width: 162px;
  height: 48px;
  line-height: 48px;
  color: #232321;
  font-size: 24px;
  border: 2px solid #232321;
  border-radius: 0;
}

.end_start {
  justify-content: flex-end;
}

.cart_commodity_status {
  margin-top: 36px;
  padding-top: 32px;
  padding-bottom: 0;
  font-size: 24px;
}

.cart_commodity_status_service {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.cart_commodity_status .service_price {
  white-space: nowrap;
}

.service_num {
  margin-left: 20px;
}

.service_small {
  font-size: 16px;
}

.cart_commodity_none {
  width: 100%;
  height: 500px;
  padding-top: 170px;
  background-color: #f4f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_commodity_none_img {
  margin-bottom: 20px;
  text-align: center;
}

.cart_commodity_none_icon {
  display: flex;
  width: 130px;
  height: 142px;
}

.cart_commodity_none_text {
  color: #666666;
  font-size: 24px;
  text-align: center;
}

.cart_commodity_login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: rgba(35, 35, 33, 0.8);
  color: #fff;
}

.cart_commodity_login_text {
  font-size: 28px;
}

.cart_commodity_login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 48px;
  margin-left: 20px;
  font-size: 24px;
  border: 2px solid #fff;
}

.cart_radio_text {
  position: absolute;
  left: 25px;
  color: #999;
}

.radio_icon_img {
  width: 24px;
  height: 24px;
}

.radio_icon_img_off {
  padding: 6px;
  width: 12px;
  height: 12px;
}

.cart_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 30px;
}

.cart_nav_text {
  color: #666;
  font-size: 28px;
}

.cart_nav_coupon {
  margin-right: 30px;
}

.cart_nav_edit {
  margin-right: 20px;
}

.cart_nav_fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  line-height: 100px;
  z-index: 10;
}

.cart_nav_fix span,
.cart_nav_fix text {
  float: right;
  color: #666;
  font-size: 28px;
}

.cart_nav_fix_login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 48px;
  margin-top: 26px;
  margin-left: 40px;
  font-size: 24px;
  color: #232321;
  text-align: center;
  border: 2px solid #232321;
}

.cart_nav_fix_coupon {
  margin-right: 30px;
}

.cart_nav_fix_edit {
  margin-right: 36px;
}
